{% extends "base.html" %}

{% block content %}

<div class="center">
					<img style="max-width:400px; padding: 30px; margin: 0 auto; display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/g9hdKWT/logoBlue.png">
				</div> 

<div class="jumbotron">
  {% if user.is_authenticated %}
    <h1 class="display-4"><i Using STYLE="text-transform:uppercase">{{user}}, hello!</i> </h1>
  	<p class="lead">{{title}}</p>
  {% else %}
  	<h1 class="display-4">Hello new user!</h1>
  {% endif %}
  <hr class="my-4">
  <p>Use navigation bar to find a lot of interesting things here. 
Search by artist name, code of song or year using search field.</p>
</div>
{% endblock %}